Pyro==3.14
ScientificPython==2.9.4
argparse==1.2.1
chardet==2.0.1
colorama==0.2.5
cycler==0.10.0
dnspython==1.11.1
html5lib==0.999
matplotlib==1.5.1
mpi4py==2.0.0
numpy==1.11.0
pycrypto==2.6.1
pyparsing==2.1.4
python-dateutil==2.5.3
pytz==2016.4
requests==2.2.1
six==1.5.2
urllib3==1.7.1
web.py==0.37
wheel==0.24.0
wsgiref==0.1.2
